.hero {
    padding-top: 267px;
    padding-bottom: 80px;
    background-image:  var(--hero-background);
    background-color: var(--hero-background-color);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
    }

    &__img {
        position: absolute;
        bottom: 20px;
        right: 150px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__tags {
        max-width: 716px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 4px;
        padding-left: 5px;

        .tag {
            height: 30px;
            -webkit-backdrop-filter: blur(40px);
            backdrop-filter: blur(40px);
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    &__inner {
        max-width: 716px;
        display: flex;
        flex-direction: column;
        gap: 21px;
        align-items: flex-start;
        justify-content: flex-start;

        &:last-child {
            margin-bottom: 174px;
        }
    }

    &__title {
        color: var(--color-neutral-white-100);
    }

    &__text {
        color: var(--color-neutral-white-56);
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;

        &:last-child {
            margin-bottom: 174px;
        }
    }

    &__benefits {
        @extend .about__list;

        position: relative;
        z-index: 2;
        flex-wrap: nowrap !important;
        margin-top: 102px;
    }

    &__benefit {
        @extend .about__item;

        color: var(--color-neutral-white-80) !important;

        .title-block {
            color: var(--color-neutral-white-100);
        }
    }
}

@media screen and (min-width: $lg) {
    .hero {
        background-position: bottom right;    
    }
}

@media screen and (max-width: $md) {
    .hero {
        padding-top: 227px;
        padding-bottom: 315px;

        &:has(.hero__benefits) {
            padding-bottom: 60px;
        }

        &__tags {
            padding-left: 0;
            gap: 4px;
        }

        &__img {
            bottom: -293px;
            right: 50%;
            transform: translateX(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            width: 100%;
        }

        &__benefits {
            margin-top: 16px;
            flex-wrap: wrap !important;
        }
    }
}

@media screen and (max-width: $md) {
    .hero {
        &+ .problems_hero {
            padding-top: 60px;
        }
    }
}

@media screen and (max-width: $sm) {
    .hero {
        padding-top: 189px;
        padding-bottom: 284px;
        background-image: var(--hero-background-mob);

        &__buttons {
            flex-wrap: wrap;
        }

        &__img {
            bottom: -260px;
        }

        &__benefits {
            gap: 24px !important;
        }
    }
}