.problems {
    background: var(--color-gray-950);

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        max-width: 432px;
    }

    &__button {
        @extend .button-reset;
        @extend .title-sm;

        color: var(--color-neutral-white-56);

        &:hover {
            color: var(--color-neutral-white-72);
        }

        &.is-active {
            color: var(--color-neutral-white-100);
        }
    }

    &__contents {
        max-width: calc(50% + 35px);
        width: 100%;
    }

    &__content {
        padding-left: 40px;
        width: 100%;
        max-width: 696px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 48px;
        display: none;

        &.is-active {
            display: flex;
        }
    }

    &__block {
        &:first-of-type {
            .problems__text {
                &::before {
                    background: url('./images/icons/warning.svg') no-repeat center;
                }
            }
        }
        
        &:last-of-type {
            .problems__text {
                &::before {
                    background: url('./images/icons/check-green.svg') no-repeat center;
                }
            }
        }
    }

    &__lettering {
        @extend .lettering-standard;
        
        color: var(--color-neutral-white-56);
        margin-bottom: 8px;

        span {
            color: var(--color-primary-500);
        }
    }

    &__text {
        @extend .text-standard;

        color: var(--color-neutral-white-100);
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: -40px;
        }
    }
}

@media screen and (max-width: $md) {
    .problems {
        &__wrapper {
            flex-direction: column;
            position: relative;

            &::after,
            &::before {
                content: '';
                display: block;
                width: 36px;
                height: 40px;
                position: absolute;
                top: -8px;
                transition: .3s linear;
                width: 70px;
                pointer-events: none;
            }

            &::before {
                background: url('./images/icons/angle-left.svg') no-repeat 10% 50% / auto 45%, linear-gradient(90deg, rgba(3, 7, 18, 1) 15%, rgba(3, 7, 18, 0) 100%);
                left: -24px;
            }

            &::after {
                background: url('./images/icons/angle-right.svg') no-repeat 90% 50% / auto 45%, linear-gradient(-90deg, rgba(3, 7, 18, 1) 15%, rgba(3, 7, 18, 0) 100%);
                right: -24px;
            }

            &.is-start {
                &::before {
                    opacity: 0;
                }
            }

            &.is-end {
                &::after {
                    opacity: 0;
                }
            }
        } 

        &__contents {
            max-width: 100%;
        }

        &__buttons {
            flex-direction: row;
            max-width: calc(100% + 48px);
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 16px;
            margin-left: -24px;
        } 

        &__button {
            white-space: nowrap;

            &:first-child {
                margin-left: 24px;
            }

            &:last-child {
                margin-right: 24px;
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .problems {
        &__wrapper {
            &::before {
                left: -16px;
            }

            &::after {
                right: -16px;
            }
        } 

        &__buttons {
            max-width: calc(100% + 32px);
            margin-left: -16px;
        } 

        &__button {
            &:first-child {
                margin-left: 16px;
            }

            &:last-child {
                margin-right: 24px;
            }
        }
    }
}