.problems {
    background: var(--color-gray-950);

    .swiper-pagination,
    .swiper-scrollbar {
        display: none;
    }

    &_hero {
        background: var(--hero-background-color);
       
        .title-section {
            width: 100%;
            text-align: center;
        }

        .problems__content {
            max-width: unset;
        }
    }

    &__wrapper {
        @extend .tabs__block;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;
    }

    &__name {
        @extend .title-sm;

        color: var(--color-neutral-white-100);
        display: none;
    }

    &__buttons {
        @extend .tabs__buttons;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 24px;
        max-width: 432px;
        flex-shrink: 0;
    }

    &__contents {
        max-width: calc(50% + 35px);
        width: 100%;
    }

    &__button {
        @extend .button-reset;
        @extend .title-sm;

        color: var(--color-neutral-white-56);

        &:hover {
            color: var(--color-neutral-white-72);
        }

        &.is-active {
            color: var(--color-neutral-white-100);
        }
    }

    &__content {
        width: 100%;
        max-width: 696px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 48px;
        display: flex;
    }

    &__block {
        padding-left: 40px;

        &:nth-of-type(2) {
            .problems__text {
                &::before {
                    background: url('./images/icons/warning.svg') no-repeat center;
                }
            }
        }
        
        &:last-of-type {
            .problems__text {
                &::before {
                    background: url('./images/icons/check-green.svg') no-repeat center;
                }
            }
        }
    }

    &__lettering {
        @extend .lettering-standard;
        
        color: var(--color-neutral-white-56);
        margin-bottom: 8px;

        span {
            color: var(--color-primary-500);
        }
    }

    &__text {
        @extend .text-standard;

        color: var(--color-neutral-white-100);
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 24px;
            height: 24px;
            top: 0;
            left: -40px;
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        gap: 56px 16px;
        flex-wrap: wrap;
        width: 100%;
    }

    &__list-item {
        @extend .text-standard;

        max-width: calc(50% - 16px);
        color: var(--color-neutral-white-80);
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        flex-shrink: 0; 
    }

    &__list-text {
        @extend .title-block;

        display: inline-block;
        color: var(--color-neutral-white-100);
    }
}

@media screen and (max-width: $md) {
    .problems {
        &__wrapper {
            flex-direction: column;
            position: relative;
        } 

        &__contents {
            max-width: 100%;
        }

        &__content {
            max-width: 100%;
        }

        &__button {
            white-space: nowrap;

            &:first-child {
                margin-left: 24px;
            }

            &:last-child {
                margin-right: 24px;
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .problems {
        .swiper-pagination {
            display: flex;
            position: static !important;
            margin-top: 32px;
        }

        &__name {
            display: block;
        }

        &__content {
            gap: 32px;
            padding: 16px;
            border-radius: 16px;
            background: var(--color-gray-900);
        }

        &__list {
            gap: 24px;
        }

        &__list-item {
            max-width: 100%;
        }
    }
}