.section {
    padding: 120px 0;

    &_transparent {
        &+ .section_transparent {
            padding-top: 0;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        margin-bottom: 72px;
        color: var(--color-neutral-black-80);

        .title-section {
            width: 50%;
            color: var(--color-neutral-black-100);
        }

        &_light {
            color: var(--color-neutral-white-80);

            .title-section {
                color: var(--color-neutral-white-100);
            }
        }
    }

    &__head-block {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        &_end {
            justify-content: flex-end;
        }

        &_column {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            .title-section {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: $md) {
    .section {
        padding: 90px 0;

        &__head {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 46px;

            .title-section {
                width: 100%;
            }
        }

        &__head-block {
            width: 100%;
            flex-direction: column;
            align-items: flex-start;
            gap: 48px;

            &_column {
                gap: 16px;
            }

            &_end {
                margin-top: 24px;
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .section {
        padding: 60px 0;
    }
}