.slider {
    &-nav {
        user-select: none;

        &__button {
            @extend .button-reset;

            width: 56px;
            height: 56px;
            border-radius: 80px;
            border: 1px solid var(--color-gray-300);
            background-image: url('./images/icons/angle-slider.svg');
            background-position: center;
            background-repeat: no-repeat;
            transition: .2s linear;

            // &_prev { }

            &_next {
                transform: scale(-1);
            }

            &.swiper-button-disabled {
                opacity: 0.5;
                pointer-events: none;
            }

            &:hover {
                border: 1px solid var(--color-neutral-black-100);
            }
        }
    }
}

@media screen and (max-width: $lg) {
    .slider {
        &-nav {
            margin-left: auto;
        }
    }
}

@media screen and (max-width: $sm) {
    .slider {
        &-nav {
            display: none;
        }
    }
}