.suitable {
    background: var(--color-primary-600);

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px 24px;
        margin-bottom: 48px;
    }

    &__wrapper {
        padding: 32px;
        background: var(--color-neutral-white-100);
        border-radius: 16px;
    }

    &__tab {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 16px;
    }

    &__aside {
        max-width: 50%;
        width: 100%;
    }

    &__img {
        img {
            border-radius: 8px;
            max-width: 100%;
            height: auto;
        }
    }

    &__lettering {
        @extend .examples__lettering;

        text-align: left;
    }

    &__list {
        max-width: 50%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 32px 48px;
    }

    &__item {
        @extend .text-xs;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        color: var(--color-neutral-black-100);
        max-width: calc(50% - 24px);

        svg {
            width: 24px;
            height: 24px;
            fill: var(--color-neutral-black-100);
        }

        i {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }
    }

    &__button {
        &_mob {
            display: none;
        }
    } 
}

@media screen and (min-width: $lg) {
    .suitable {
        &__tab {
            align-items: unset;
        }

        &__img {
            position: relative;
            overflow: hidden;
            height: 100%;
            border-radius: 8px;
            max-width: 712px;
    
            img {
                height: auto;
                position: absolute;
                width: 100%;
                height: auto;
                left: 0;
                top: 0;
            }
        }
    }
}

@media screen and (max-width: $md) {
    .suitable {
        &__tags {
            gap: 9px 16px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .suitable {
        &__wrapper {
            padding: 16px 16px 24px;
        }

        &__tab {
            flex-direction: column;
            gap: 40px;
        }

        &__aside {
            max-width: 100%;
        }

        &__img {
            max-height: 281px;
            display: flex;
        }

        &__list {
            max-width: 100%;
            flex-direction: column;
        }

        &__item {
            max-width: 100%;
        }

        &__button {
            &_desk {
                display: none;
            }

            &_mob {
                margin-top: 40px;
                display: flex;
            }
        } 
    }
}

@media screen and (max-width: $sm) {
    .suitable {
        &__button {
            &_mob {
                width: 100%;
            }
        } 
    }
}