.tabs {
    &__head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }

    &__item {
        @extend .text-xs;

        height: 40px;
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        border: 1px solid var(--color-gray-300);
        transition: .1s linear;
        cursor: pointer;
        color: var(--color-neutral-black-100);

        &:hover {
            border-color: var(--color-neutral-black-100);
        }

        &.is-active {
            background: var(--color-neutral-black-100);
            border-color: var(--color-neutral-black-100);
            color: var(--color-neutral-white-100);
        }
    }

    &__content {
        display: none;

        &.is-active {
            display: block;
        }
    }
}

@media screen and (max-width: $md) {
    .tabs {
        &__block {
            position: relative;

            &::after,
            &::before {
                content: '';
                display: block;
                width: 36px;
                height: 40px;
                position: absolute;
                top: -8px;
                transition: .3s linear;
                width: 70px;
                pointer-events: none;
            }

            &::before {
                background: url('./images/icons/angle-left.svg') no-repeat 10% 50% / auto 45%, linear-gradient(90deg, rgba(3, 7, 18, 1) 15%, rgba(3, 7, 18, 0) 100%);
                left: -24px;
            }

            &::after {
                background: url('./images/icons/angle-right.svg') no-repeat 90% 50% / auto 45%, linear-gradient(-90deg, rgba(3, 7, 18, 1) 15%, rgba(3, 7, 18, 0) 100%);
                right: -24px;
            }

            &_blue {
                &::before {
                    background: url('./images/icons/angle-left.svg') no-repeat 10% 50% / auto 45%, linear-gradient(90deg, rgba(37, 99, 235, 1) 15%, rgba(37, 99, 235, 0) 100%);
                    left: -24px;
                }
    
                &::after {
                    background: url('./images/icons/angle-right.svg') no-repeat 90% 50% / auto 45%, linear-gradient(-90deg, rgba(37, 99, 235, 1) 15%, rgba(37, 99, 235, 0) 100%);
                    right: -24px;
                }
            }

            &.is-start {
                &::before {
                    opacity: 0;
                }
            }

            &.is-end {
                &::after {
                    opacity: 0;
                }
            }
        }

        &__buttons {
            flex-direction: row !important;
            max-width: calc(100% + 48px) !important;
            flex-wrap: nowrap !important;
            overflow-x: scroll;
            overflow-y: hidden;
            padding-bottom: 16px;
            margin-left: -24px;
        } 
    }
}

@media screen and (max-width: $sm) {
    .tabs {
        &__block {
            &::after,
            &::before {
                display: none !important;
            }
        }
        
        &__buttons {
            display: none !important;
        }
    }
}