.tag {
    &:not(.tag_icon) {
        @extend .lettering-small;
    }

    border-radius: 16px;
    padding: 4px 8px;
    min-height: 22px;    
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;

    &_white {
        background: var(--color-neutral-white-100);
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.04);
        color: var(--color-neutral-black-100);
    }

    &_primary{
        background: var(--color-primary-50);
        color: var(--color-primary-500);
    }

    &_dark {
        background: var(--color-neutral-black-8);
        color: var(--color-neutral-black-56);

        svg {
            fill: var(--color-neutral-black-56);
        }
    }

    &_light {
        background: var(--color-neutral-black-8);
        color: var(--color-neutral-white-80);

        svg {
            fill: var(--color-neutral-white-80);
        }
    }

    &_icon {
        @extend .text-xs;

        background: transparent;
        height: unset;
        padding: unset;
        border-radius: unset;

        i {
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }
}

@media screen and (max-width: $md) {
    .tag {
        padding: 4px 12px;

        &_icon {
            padding: unset;
        }
    }
}